<button
        class="btn-icon btn-icon--user-context"
        aria-label="Open user context menu"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="toggle()">
    <bd-icon svgName="chevron-down" class="icon"></bd-icon>
    <span>
        {{ userInitials() }}
    </span>
</button>

<!--[cdkConnectedOverlayPositions]="positions"-->
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen()"

    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="close()"
>
    <div class="menu">
        <button class="btn btn-secondary menu-item" (click)="export()">Export</button>
        <button class="btn btn-secondary menu-item" (click)="logout.emit()">Logout</button>
    </div>
</ng-template>