@use 'web/ds-variables' as ds-variables;
@use 'web/mixins' as mixins;

:host {
  padding: 1rem;
  background: var(--ds-color-background-bg4);
  border-radius: var(--ds-radius__xl);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// TODO: extract to common place
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ds-color-special-border);
}

// TODO: extract to typography
.ds-h2 {
  margin: 0;

  font-size: var(--ds-font-size__lg);
  font-weight: var(--ds-font-weight__semibold);
  color: var(--ds-color-text-heading);

  position: relative;
  padding-left: 0.75rem;
}

.birthdays-grid {
  display: grid;
  gap: 0.75rem;

  grid-template-columns: 1fr;

  @media (min-width: ds-variables.$breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: ds-variables.$breakpoint-xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.birthday-action-card {
  &:hover {
    cursor: pointer;
  }
}

button, a {
  .icon {
    @include mixins.icon-size(1.5rem);
  }
}

.btn-primary {
  .icon {
    color: var(--ds-color-main-white);
  }
}

.btn-icon--edit {
  .icon {
    color: var(--ds-color-text-heading);
  }
}

.btn-icon--call {
  .icon {
    color: var(--ds-color-main-green);
  }
}

.btn-icon--delete {
  .icon {
    color: var(--ds-color-main-red);
  }
}
