<section class="section-header">
    <h2 class="ds-h2">Your Birthdays</h2>
    <button class="btn-primary" (click)="add.emit()">
        <bd-icon svgName="plus" class="icon"></bd-icon> Add Birthday</button>
</section>

@let birthdaysValue = birthdays();
@if (birthdaysValue.length > 0) {
    <div class="birthdays-grid">
        @for (birthday of birthdaysValue; track birthday._id) {
            @let isSelected = selectedBirthdayId() === birthday?._id;
            <app-birthday-action-card
                    class="birthday-action-card"
                    [birthday]="birthday"
                    [isSelected]="isSelected"
                    (cardClick)="cardClick.emit($event)">

                <!-- Call -->
                @if (birthday.phoneNumber) {
                    <a class="btn-icon btn-icon--call"
                       title="Call {{ birthday.name }}"
                       [attr.href]="'tel:' + birthday.phoneNumber"
                       (click)="call.emit(birthday); $event.stopPropagation()"
                    >
                        <bd-icon svgName="phone-arrow-up" class="icon call-icon"></bd-icon>
                    </a>
                }

                <!-- Edit -->
                <button class="btn-icon btn-icon--edit"
                        (click)="edit.emit(birthday); $event.stopPropagation()"
                        aria-label="Edit birthday"
                >
                    <bd-icon svgName="pencil-square" class="icon"></bd-icon>
                </button>

                <!-- Delete -->
                <button class="btn-icon btn-icon--delete"
                        (click)="remove.emit(birthday._id!); $event.stopPropagation()"
                        aria-label="Delete birthday"
                >
                    <bd-icon svgName="trash" class="icon delete-icon"></bd-icon>

                </button>
            </app-birthday-action-card>
        }
    </div>
} @else {
    <p class="empty-state">No birthdays yet. Add your first one. <bd-icon svgName="rocket-launch"></bd-icon></p>
}

