<section class="dashboard-top__section">
    <app-upcoming-birthdays
            [birthdays]="upcomingBirthdays()"
            [selectedBirthdayId]="selectedBirthdayId()"
    />

    <app-birthday-focus-card
            [birthday]="upcomingBirthdays()[0]"
    />
</section>

<app-all-birthdays
        [birthdays]="birthdays()"
        [selectedBirthdayId]="selectedBirthdayId()"
        (remove)="delete($event)"
        (edit)="openEdit($event)"
        (call)="call($event)"
        (add)="openAdd()"
/>
