<section class="dashboard-top__section">
    <app-upcoming-birthdays
        [birthdays]="upcomingBirthdays()"
        [selectedBirthdayId]="selectedBirthdayId()"
        (cardClick)="cardClick($event)"
    />

    <app-birthday-focus-card
        [birthday]="selectedBirthday()"
    />
</section>

<app-all-birthdays
    [birthdays]="birthdays()"
    [selectedBirthdayId]="selectedBirthdayId()"
    (remove)="delete($event)"
    (edit)="openEdit($event)"
    (call)="call($event)"
    (add)="openAdd()"
    (cardClick)="cardClick($event)"
/>

<section class="faq-section">
    @for (faq of faqs; track faq.id) {
        <bd-ui-expand-panel>
            <bd-ui-expand-panel-header>
                {{ faq.question }}
            </bd-ui-expand-panel-header>
            <bd-ui-expand-panel-content>
                {{ faq.answer }}
            </bd-ui-expand-panel-content>
        </bd-ui-expand-panel>
    }
</section>