:host {
  min-height: 100vh; // add height twice, because not all devices support dvh
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 100;

  background: white; /* or your header background color */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* optional */
}

.shell-content {
  overflow-x: hidden;
  overflow-y: auto;
}

app-footer {
  margin-top: auto;
}