@let birthdayDto = birthday();
<div class="birthday-card__avatar">
    {{ birthdayDto.name[0] }}
</div>

<div class="birthday-card__content">
    <p class="birthday-card__name">{{ birthdayDto.name }}</p>

    @let birthdayDate = createBirthdayDate();
    <span class="birthday-card__meta">

        <!-- 23 February, 1990 -->
        {{ birthdayDate | date:'dd MMMM' }}
        @if (birthdayDto.birthYear) {
            • {{ birthdayDto.birthYear }}
        }
    </span>
</div>

<div class="birthday-card__actions">
    <ng-content />
</div>
