@if (birthday()) {
    <div class="focus-card__content">
        <div class="focus-card__label">Next up</div>
        <h3 class="focus-card__name">{{ birthday()!.name | titlecase }}</h3>
        <div class="focus-card__meta">
            <bd-icon svgName="cake" class="focus-card__icon"></bd-icon>
            <span>
                {{ birthday()!.birthMonth }} / {{ birthday()!.birthDay }}
                @if (birthday()!.birthYear) {
                    • Born {{ birthday()!.birthYear }}
                }
            </span>
        </div>
    </div>

    <button class="btn-primary focus-card__action-button">
        <bd-icon svgName="phone-arrow-up" class="icon call-icon"/> Call
    </button>
} @else {
    <div class="focus-card__empty">
        <bd-icon svgName="cake" class="focus-card__icon"></bd-icon>
        <p class="focus-card__empty-text">
            Select a birthday<br />
            and remind to call.
        </p>
    </div>
}
