@let birthdayValue = birthday();
@if (birthdayValue) {
    <div class="focus-card__content">
        <div class="focus-card__label">Next up</div>
        <h3 class="focus-card__name">{{ birthdayValue!.name | titlecase }}</h3>
        <div class="focus-card__meta">
            <bd-icon svgName="cake" class="focus-card__icon"></bd-icon>
            <span>
                {{ birthdayValue!.birthMonth }} / {{ birthdayValue!.birthDay }}
                @if (birthdayValue!.birthYear) {
                    • Born {{ birthdayValue!.birthYear }}
                }
            </span>
        </div>
    </div>

    @if (birthdayValue.phoneNumber) {
        <a class="btn-primary focus-card__action-button"
           title="Call {{ birthdayValue.name }}"
           [attr.href]="'tel:' + birthdayValue.phoneNumber"
           (click)="call.emit(birthdayValue); $event.stopPropagation()"
        >
            <bd-icon svgName="phone-arrow-up" class="call-icon"/> Call
        </a>
    }
} @else {
    <div class="focus-card__empty">
        <bd-icon svgName="cake" class="focus-card__icon"></bd-icon>
        <p class="focus-card__empty-text">
            Select a birthday<br />
            and remind to call.
        </p>
    </div>
}
