@if (birthday()) {
    <div class="focus-card__content">
        <div class="focus-card__label">Next up</div>
        <h3 class="focus-card__name">{{ birthday()!.name | titlecase }}</h3>
        <div class="focus-card__meta">
            🎂 {{ birthday()!.birthMonth }}/{{ birthday()!.birthDay }}
            @if (birthday()!.birthYear) {
                • Born {{ birthday()!.birthYear }}
            }
        </div>
    </div>

    <button class="btn-primary focus-card__action-button">
        📞 Call
    </button>
} @else {
    <div class="focus-card__empty">
        <div class="focus-card__empty-icon">🎂</div>
        <p class="focus-card__empty-text">
            Select a birthday<br />
            to see details
        </p>
    </div>
}
