<section class="section-header">
    <h2 class="ds-h2">Upcoming Birthdays</h2>

    <span class="upcoming-count">
        <bd-icon svgName="bell-alert" aria-hidden="true"></bd-icon>
        <span>Upcoming {{ birthdays().length }}</span>
    </span>
</section>

@let birthdaysValue = birthdays();
@if (birthdaysValue.length === 0) {
    <div class="empty-state">
        <p>No upcoming birthdays in the next 30 days</p>
    </div>
} @else {
    <div class="upcoming-list">
        @for (birthday of birthdaysValue; track birthday._id) {
            @let isSelected = selectedBirthdayId() === birthday?._id;
            <app-birthday-action-card [birthday]="birthday"
                                      [isSelected]="isSelected"
                                      (cardClick)="cardClick.emit($event)">

<!--TODO: add logic for changing the badge label and color-->
<!--                <span class="badge"-->
<!--                      [class.badge&#45;&#45;today]="bd.daysUntil === 0"-->
<!--                      [class.badge&#45;&#45;tomorrow]="bd.daysUntil === 1"-->
<!--                      [class.badge&#45;&#45;soon]="bd.daysUntil > 1"-->
<!--                >-->
<!--                  @if (bd.daysUntil === 0) {-->
<!--                      Today 🎉-->
<!--                  } @else if (bd.daysUntil === 1) {-->
<!--                      Tomorrow-->
<!--                  } @else {-->
<!--                      {{ bd.daysUntil }} days-->
<!--                  }-->
<!--                </span>-->
                <span class="ds-badge" data-ds-color="orange">
                    {{ 'Today' | titlecase }}
                </span>

            </app-birthday-action-card>
        }
    </div>
}
