<section class="section-header">
    <h2 class="ds-h2">Upcoming Birthdays</h2>

    <span class="upcoming-count">
        <bd-icon svgName="bell-alert" aria-hidden="true"></bd-icon>
        <span>Upcoming {{ birthdays().length }}</span>
    </span>
</section>

@let birthdaysValue = birthdays();
@if (birthdaysValue.length === 0) {
    <div class="empty-state">
        <p>No upcoming birthdays in the next 30 days</p>
    </div>
} @else {
    <div class="upcoming-list">
        @for (birthday of birthdaysValue; track birthday._id) {
            @let isSelected = selectedBirthdayId() === birthday?._id;
            <app-birthday-action-card [birthday]="birthday"
                                      [isSelected]="isSelected"
                                      (cardClick)="cardClick.emit($event)">
                @if (birthday.daysUntil === 0) {
                  <span class="ds-badge ds-badge--success">{{ 'Today' | titlecase }}</span>
                } @else if (birthday.daysUntil === 1) {
                  <span class="ds-badge ds-badge--info">{{ 'Tomorrow' | titlecase }}</span>
                } @else {
                  <span class="ds-badge">In {{ birthday.daysUntil }} days</span>
                }

            </app-birthday-action-card>
        }
    </div>
}
